body {
  background-color: black;
}
.title {
  line-height: 1.2;
  font-size: 30px;
}
.content {
  width: 300px;
  word-wrap: break-word;
}
.description {
  margin: 15px 0 0 0;
}
.remove {
  margin: 20px 0 20px 0;
}